/* Reginald Cole */

/* 8e9b90 ash gray
    93c0a4 cambridge blue
    b6c4a2 sage
    d4cdab dutch white
    dce2bd beige*/


h1 {
    text-align: center;
    text-decoration: underline;
}

.p1 {
    text-align: center;
}


h3 {
    text-align: center;
    text-decoration: underline;
}

body {
    margin: auto;
    background-color: bisque;
}

footer {
    text-align: center;
    clear:both;
}

p {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



